.laporan{
    padding-top: 50px;
    min-height: 810px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.laporan p{
    font-size: 1.3em;
}

.laporan .btn{
    margin-bottom: 50px;
}

.laporan input, select{
    width: 75%;
    display: block;
}

.laporan tbody{
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

.laporan thead, tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.laporan thead{
    width: calc(100% - 1em);
}

@media screen and (max-width: 576px){

}